<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <body>
    <%- include ('../partials/nav') %>

    <div class="container">
      <div class="section">
        <div class="row">
          <h1><%= data.name %></h1>
          <h2><%= data.username %></h2>
          <p><%= data.description %></p>
          <img
            class="img-large"
            src="<%= data.image %>"
            alt="<%= data.name %>"
          />
          <p><%= data.address %></p>
        </div>
      </div>
      <div id="map"></div>
      <br /><br />
    </div>
    <%- include ('../partials/script') %>
    <script>
      const lat = '<%= data.lat %>';
      const lng = '<%= data.lng %>';

      var map = L.map('map').setView([lat, lng], 17);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      }).addTo(map);

      var marker = L.marker([lat, lng]).addTo(map);
    </script>
  </body>
</html>
